<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="First suite">
    <parameter name="login" value="VASIYA">
        <test name="First test">
            <classes>
                <class name="test.java.TestSimple"/>
                <class name="test.java.TestSimple2">
                    <methods>
                        <exclude name="checkAgeSetter"/>
                    </methods>
                </class>
            </classes>
        </test>
    </parameter>
</suite>