<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="myFirstSuit">
    <parameter name="value1" value="3"/>
    <parameter name="value2" value="5"/>
    <parameter name="value3" value="2"/>
    <test name = "myTest1">
        <classes>
            <class name="Test1"/>
            <class name="Test1Negative">
                <methods>
                    <exclude name="min"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>

